*,
::before,
::after {
  box-sizing: border-box;
}

html::-webkit-scrollbar{
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb{
  background-color: #004D80;
}

/* html::-webkit-scrollbar-track{
  background-color: ;
} */

html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
}

body {
  background-color: #00002d; 
}

a {
  text-decoration: underline;
}


.if-compact {
  display: none; 
}

div.container {
  min-height: calc(100% - 75px);
  max-width: 900px; 
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100px;
  background-image: url(images/bg_header.png);
  background-repeat: repeat-x;
  background-color: #00002d;
  text-align: center; 
}

header h1 {
  margin: 0;
  padding: 0; 
}

header #logo {
  max-width: 100%;
  height: auto;
  margin-top: 10px; 
  height: auto;
  width: 300px;
}

nav {
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  width: 100%;
  height: 74px;
  padding-top: 1px;
  background-image: url(images/bg_nav.png);
  background-repeat: repeat-x;
  background-color: #b5978b;
  text-align: center; 
}

nav ul {
  color: #333333;
  background-color: #B5978B;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  text-transform: lowercase;
  font-family: "Gill Sans", "Gill Sans MT", Candara, sans-serif;
  /* font-family: 'Avenir next'; */
  font-size: 20px;
  }

nav ul li {
  display: inline;
  list-style-type: none; 
}

nav a:link, nav a:visited {
  padding: 3px 15px 4px 15px;
  /* color: #333333; */
  color: #000047;
  text-decoration: none; 
}

nav a:link.current, nav a:visited.current {
  /* background-color: #a08178;  */
  background-color: #89809F;
  /* border: none; */
}

nav a:link:hover, nav a:visited:hover {
  color: #161616; 
}

article {
  margin-top: 150px;
  color: #ffffff; 
}

article a:link, article a:visited {
  color: #6191e9; 
}

article a:link:hover, article a:visited:hover {
  color: #81b1ff; 
}


footer {
  display: table;
  clear: both;
  width: 100%;
  height: 75px;
  background-color: #000000;
  background-image: url(images/bg_footer.png);
  background-repeat: repeat-x;
  color: #aaaaaa;
  font-size: 9px;
  text-align: center;
  vertical-align: bottom; 
}

footer p {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 1em; 
}

footer span.text {
  margin-left: 1em;
  margin-right: 1em;
  white-space: nowrap; 
}

footer a:link, footer a:visited {
  color: #aaaaaa;
  }

footer a:link:hover, footer a:visited:hover {
  color: #ffffff; 
}

@font-face {
  font-family: Tinos;
  src: url(fonts/Tinos/Tinos_Bold_for_Powerline.ttf);

  font-family: 'Avenir next';
  src: url(fonts/Metropolis/Metropolis-Regular.otf);

  font-family: Avenir;
  src: url(fonts/Metropolis/Metropolis-SemiBold.otf);
}

@media (max-width: 760px) {
  footer {
    font-size: 6px;
  }
}